services:
  db:
    image: postgres:18
    container_name: pg-docker
    environment:
      POSTGRES_USER: admin 
      POSTGRES_PASSWORD: postgres123 
      POSTGRES_DB: main
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
