services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://devuser:devpass@db:5432/devdb

  db:
    image: postgres:17
    environment:
      - .env
    ports:
      - "5432:5432"
